.bannerContainer {
  min-width: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 24px;
}
.leftBanner {
  width: 67%;
}
.rightBanner {
  margin: 0;
  padding: 0;
  width: 33%;
  margin-left: 4px;
  height: 100%;
}
.imageContainerTop {
  margin-top: 0px;
  padding: 0px;
  height: 50%;
  width: 100%;
}
.imageContainerBottom {
  display: block;
  margin-top: 7px;
  padding: 0px;
  height: 50%;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .bannerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
  }
  .leftBanner {
    width: 100%;
  }

  .rightBanner {
    padding: 0px;
    margin-right: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainerTop,
  .imageContainerBottom {
    display: block;
    width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .bannerContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 8px;
  }
  .leftBanner {
    width: 100%;
  }

  .rightBanner {
    padding: 0px;
    margin-right: 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imageContainerTop,
  .imageContainerBottom {
    display: block;
    width: 50%;
  }
}
